<header class="cart_head">
	<span class="back"></span> 
	<span class="login">购物车</span>
	<span class="register">去结算</span>
</header>
<section class="cart_main">
	<img src="imgs/cart_jiazai.gif" class="cart_load" />
	<div class="cartGoods">
		<p class="top">商品数量：<span class="totalNum">1</span>应付金额(不含运费):<span class="totalMoney">￥199</span></p>
		<div id="list">
			<ul class="lis">
								
			</ul>
		</div>
	</div>
	<div class="cart_empty">
		<p>您的购物车空空~</p>
		<img src="imgs/wifi.jpg" />
		<span class="goShopping">去逛逛</span>
	</div>
</section>