<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品详情</title>
		<link rel="stylesheet" type="text/css" href="../css/detail.css" />
		<link rel="stylesheet" type="text/css" href="../font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
	</head>
	<body>
		<script type="text/javascript">
			document.body.parentElement.style.fontSize = window.innerWidth/10+"px";
		</script>
		<header class="detail_head">
			<span class="back"></span> 
			<span class="login">商品介绍</span>
			<span class="register">分享</span>
		</header>
		<section class="detail_main">
			<div class="detail_introduce">
				<p class="time">距离结束时间：04天01时15分47.2秒</p>
				<img src="" />
				<p class="now">
					<span class="price"><!--￥259--></span>
					<span class="goodName"><!--灰色印花短袖T恤--></span>
				</p>
				<p class="other_info">
					市场价：<span class="oldPrice"><!--￥435--></span>
					<span class="goodDiscount">4.8折</span>
					<span class="buyers">125人购买</span>
				</p>
			</div>
			<div class="detail_information">
				<img src="../imgs/information.jpg" />
				<div class="all_information">
					<p>
						<span class="originPlace">
							产地：土耳其
						</span>
						<span class="brand">LIU.JO</span>
						<span class="goodName">
							<!--：灰色 个性团印花短袖T恤（配饰品）-->
						</span>
					</p>
					<p>舒适的领口，时尚大方，极简的风格，彰显女人本色。兽头人身的团，彰显另类个性。小小的胸花随心点缀，女人的可爱气质。（
					胸花有别针，可拆卸）体现。</p>
					<p>细节靓点：印花，配装物品。</p>
					<p>舒适的领口，时尚大方，极简的风格，彰显女人本色。兽头人身的团，彰显另类个性。小小的胸花随心点缀，女人的可爱气质。（
					胸花有别针，可拆卸）体现。</p>
				</div>
			</div>
			<div class="detail_realShot">
				<div class="swiper-container swiper">
				    <div class="swiper-wrapper">
				    </div>
				    <!-- 如果需要分页器 -->
				    <div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
		<footer class="detail_foot">
			<p class="active">介绍</p>
			<p>详情</p>
			<p>实拍</p>
		</footer>
		<script type="text/javascript" src="../js/plugins/zepto.min.js"></script>
		<script type="text/javascript" src="../js/plugins/swiper.jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/iscroll.js"></script>
		<script type="text/javascript" src="../js/plugins/vipspa.js"></script>
		<script type="text/javascript" src="../js/detail.js"></script>
	</body>
</html>
