<header class="index_head">
	<span class="zh">衣衣不舍</span>
</header>
<nav class="index_nav">
	<input type="text" placeholder="请输入搜索内容" id="search"/>
	<span id="toSearch"></span>
</nav>
<section class="index_banner">
	<div id="demo" class="swiper-container">
	    <div class="swiper-wrapper"></div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination"></div>
	</div>
</section>
<section class="index_main" id="list">
	<ul id="lis">
		<li id="lastDemo"></li>
	</ul>
</section>
<p class="addSuccess"></p>
