<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no,maximum-scale=1,minimum-scale=1" />
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="../font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/login.css" />
	</head>
	<body>
		<script type="text/javascript">
			document.body.parentElement.style.fontSize = window.innerWidth/10+'px';
		</script>
		<header class="login_head">
			<span class="back"></span> 
			<span class="login">登录</span>
			<span class="register">注册</span>
		</header>
		<section class="login_main">
			<input type="text" id="username" placeholder="帐号"/>
			<input type="password" id="password" placeholder="密码"/>
			<p class="other">
				<label>
					<span class="iconfont">&#xe73a;</span>
					<b>记住密码</b>
					<a href="#">忘记密码?</a>
				</label>
			</p>
			<p class="tip"></p>
			<input type="button" value="登录" id="login"/>
		</section>
		<footer class="login_foot">
			<nav>
				<div>
					<a href="../index.html#home">
						<span class="iconfont">&#xe614;</span>
						<p>首页</p>
					</a>
				</div>
				<div>
					<a href="../index.html#class">
						<span class="iconfont">&#xe600;</span>
						<p>分类</p>
					</a>
				</div>
				<div>
					<a href="../index.html#cart">
						<span class="iconfont">&#xe653;</span>
						<p>购物车</p>
					</a>
				</div>
				<div class="active">
					<a href="../index.html#myshow">
						<span class="iconfont">&#xe6a2;</span>
						<p>我的</p>
					</a>
				</div>
				<div>
					<a href="../index.html#more">
						<span class="iconfont">&#xe669;</span>
						<p>更多</p>
					</a>	
				</div>
			</nav>
		</footer>
		<script type="text/javascript" src="../js/plugins/zepto.min.js"></script>
		<script type="text/javascript" src="../js/plugins/swiper.jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/iscroll.js"></script>
		<script type="text/javascript" src="../js/login.js"></script>
	</body>
</html>