<header class="show_head">
	<span class="back"></span> 
	<span class="my">衣衣不舍</span>
</header>
<section class="show_main">
	<div class="userInfo">
		<img src="imgs/userImg.png" />
		<div class="info_right">
			<p class="niciname">昵称：<span>未知</span></p>
			<p class="opeations">
				<span class="login">登录</span>
				<span class="register">注册</span>
			</p>
		</div>
	</div>
	<div class="menuList">
		<p>我的订单<img src="imgs/jiantou1.png"/></p>
		<p>我的优惠券<img src="imgs/jiantou1.png"/></p>
		<p>浏览记录<img src="imgs/jiantou1.png"/></p>
		<p>我的收藏<img src="imgs/jiantou1.png"/></p>
	</div>
</section>