<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no,maximum-scale=1,minimum-scale=1" />
		<title>衣衣不舍</title>
		<link rel="stylesheet" type="text/css" href="../css/start.css" />
		<link rel="stylesheet" type="text/css" href="../font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/animate.min.css" />
	</head>
	<body>
		<script type="text/javascript" src="../js/plugins/zepto.min.js"></script>
		<script type="text/javascript" src="../js/plugins/swiper.jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/swiper.animate1.0.2.min.js"></script>
		<script type="text/javascript" src="../js/plugins/iscroll.js"></script>
		<script type="text/javascript">
			document.body.parentElement.style.fontSize = window.innerWidth/10+'px';
		</script>
		<nav id="nav">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide">
			        	<img src="../imgs/start12.jpg" class="startimg"/>
			        	<img src="../imgs/start1_1.png" class="ani start1_1" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"/>
			        </div>
			        <div class="swiper-slide">
			        	<img src="../imgs/start2.jpg" class="startimg"/>
			        	<div class="start2 ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.8s" swiper-animate-delay="0.1s">
			        		<span class="full">满288元免运费</span>
			        		<span class="special">(有活动还有更多惊喜哦!)</span>
			        	</div>
			        </div>
			        <div class="swiper-slide">
			        	<img src="../imgs/start3.jpg" class="startimg"/>
			        </div>
			        <div class="swiper-slide">
			        	<img src="../imgs/start4.jpg" class="startimg"/>
			        	<p class="ani p_start" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">开始体验</p>
			        </div>
			    </div>
			    <!-- 如果需要分页器 -->
			    <div class="swiper-pagination"></div>
			</div>
		</nav>
		<script type="text/javascript" src="../js/start.js"></script>
	</body>
</html>