@charset "UTF-8";
.index_head {
  height: 1.34375rem;
  background: #E4366B;
  text-align: center;
  font-size: 0.625rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  .index_head span {
    display: inline-block; }
  .index_head .zh {
    font: bold 0.625rem/1.34375rem "";
    width: 2.65625rem;
    height: 1.34375rem; }

.index_nav {
  background: #52525A;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
  text-align: center;
  width: 100%;
  height: 1.34375rem;
  position: fixed;
  top: 1.34375rem;
  left: 0;
  z-index: 5; }
  .index_nav:before, .index_nav:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #636363; }
  .index_nav input {
    width: 9.21875rem;
    height: 0.78125rem;
    background: #fff url(../imgs/search.png) no-repeat 0.375rem center;
    background-size: 0.5625rem 0.625rem;
    padding: 0 0.375rem;
    text-indent: 0.75rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 0.39063rem;
    vertical-align: middle;
    font: 0.375rem/0.78125rem "";
    color: #949398; }
  .index_nav span {
    position: absolute;
    width: 0.5625rem;
    height: 0.625rem;
    left: 0.78125rem;
    top: 0.375rem; }

.index_banner {
  margin-top: 2.6875rem;
  height: 3.90625rem;
  overflow: hidden; }
  .index_banner img {
    width: 100%;
    height: 3.90625rem;
    display: block; }
  .index_banner .swiper-pagination-bullet-active {
    background: #D30F11; }

.margin_bottom {
  height: 1.53125rem;
  width: 100%; }

.index_main {
  height: 15.625rem;
  margin-bottom: 1.53125rem; }
  .index_main ul {
    background: #fff; }
    .index_main ul li {
      height: 3.4375rem;
      border-bottom: 1px solid #707070; }
      .index_main ul li:after {
        content: "";
        height: 1px;
        width: 100%;
        display: block;
        background: #ABABAB; }
      .index_main ul li img {
        float: left;
        width: 2.6875rem;
        height: 2.6875rem;
        border: 0.01563rem solid #C8C8C8;
        margin: 0.3125rem 0 0 0.5rem; }
      .index_main ul li div.item {
        float: left;
        width: 6.25rem;
        margin-left: 0.23438rem;
        height: 100%; }
        .index_main ul li div.item a {
          font: 0.4375rem/0.6875rem "";
          display: block;
          width: 100%;
          height: 0.6875rem;
          margin-top: 0.39063rem;
          color: #000; }
        .index_main ul li div.item .item_bottom {
          width: 100%;
          height: 1.3125rem;
          margin-top: 0.0625rem;
          position: relative; }
          .index_main ul li div.item .item_bottom span {
            display: inline-block; }
          .index_main ul li div.item .item_bottom .now {
            font: 0.46875rem/0.6875rem "";
            color: #F32975;
            margin-right: 0.3125rem; }
          .index_main ul li div.item .item_bottom .old {
            font-size: 0.3125rem;
            color: #BCBABB;
            text-decoration: line-through; }
          .index_main ul li div.item .item_bottom .zhe {
            display: block;
            height: 0.59375rem;
            font: 0.375rem/0.59375rem "";
            color: #000; }
          .index_main ul li div.item .item_bottom .add {
            position: absolute;
            width: 1.84375rem;
            height: 0.8125rem;
            background: url(../imgs/cart.jpg);
            background-size: 1.84375rem 0.8125rem;
            right: 0.26563rem;
            top: 0.96875rem;
            border-radius: 0.15625rem; }
      .index_main ul li#lastDemo {
        height: 0.625rem;
        font: 0.3125rem/0.625rem "";
        color: #666; }
        .index_main ul li#lastDemo img {
          width: 0.46875rem;
          height: 0.46875rem;
          display: inline;
          margin-top: 0.07813rem; }

p.addSuccess {
  width: 7.8125rem;
  height: 0.625rem;
  background: #E4366B;
  color: #fff;
  position: fixed;
  top: 10.9375rem;
  left: 50%;
  margin-left: -3.90625rem;
  font: 0.46875rem/0.625rem "";
  opacity: 0.8;
  display: none; }

.list_head {
  height: 1.34375rem;
  background: #E4366B;
  text-align: center;
  font-size: 0.625rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  z-index: 5; }
  .list_head span {
    display: inline-block; }
  .list_head .en {
    width: 1.5rem;
    height: 0.4375rem;
    background: url(../imgs/logo.png) no-repeat;
    background-size: 1.5rem 0.4375rem;
    margin-top: 0.53125rem; }
  .list_head .zh {
    font: bold 0.625rem/1.34375rem "";
    width: 2.65625rem;
    height: 1.34375rem; }
  .list_head .back {
    width: 1.125rem;
    text-align: right;
    height: 1.34375rem;
    display: block;
    position: absolute;
    background: url(../imgs/back.png) no-repeat 0.3125rem center;
    background-size: 0.8125rem 0.5rem; }

.list_nav {
  height: 1.34375rem;
  width: 100%;
  background: #52525A;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
  text-align: center;
  margin-top: 1.34375rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5; }
  .list_nav:before, .list_nav:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #636363; }
  .list_nav input {
    width: 9.21875rem;
    height: 0.78125rem;
    background: #fff url(../imgs/search.png) no-repeat 0.375rem center;
    background-size: 0.5625rem 0.625rem;
    padding: 0 0.375rem;
    text-indent: 0.75rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 0.39063rem;
    vertical-align: middle;
    font: 0.375rem/0.78125rem "";
    color: #949398; }
  .list_nav span {
    position: absolute;
    width: 0.5625rem;
    height: 0.625rem;
    left: 0.78125rem;
    top: 0.375rem; }

.list_main {
  color: #000;
  font: bold 0.59375rem/1.34375rem "";
  margin-top: 2.75rem; }
  .list_main p.parent {
    text-indent: 0.3125rem;
    box-shadow: 0 1px 1px #AAAAAA,0 1px 1px #CBCBCB; }
  .list_main img {
    float: right;
    width: 0.4375rem;
    height: 0.35938rem;
    margin-right: 0.46875rem;
    margin-top: 0.5625rem; }
  .list_main ul.type {
    overflow: hidden; }
    .list_main ul.type li {
      width: 100%;
      height: 1.34375rem;
      text-indent: 0.625rem;
      box-shadow: 0 1px 1px #AAAAAA,0 1px 1px #CBCBCB; }
      .list_main ul.type li img {
        transform: rotate(-90deg); }
    .list_main ul.type.active {
      height: 0rem; }

* {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  background: #F7F7F7; }

input {
  outline: none;
  border: 0; }

.login_head {
  height: 1.34375rem;
  background: #E4366B;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #636363;
  display: flex; }
  .login_head:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #282828;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0; }
  .login_head .back {
    width: 1.10938rem;
    height: 1.34375rem;
    display: block;
    position: absolute;
    background: url(../imgs/back.png) no-repeat 0.3125rem center;
    background-size: 0.8125rem 0.5rem; }
  .login_head .login {
    width: 100%;
    text-align: center;
    font: bold 0.59375rem/1.34375rem "";
    color: #fff;
    height: 1.34375rem; }
  .login_head .register {
    width: 1.71875rem;
    height: 0.84375rem;
    font: 0.375rem/0.84375rem "";
    color: #fff;
    text-align: center;
    background: #EC4175;
    position: absolute;
    right: 0.3125rem;
    top: 0.21875rem;
    display: block;
    box-shadow: 0 -1px 1px #fff,0 1px 1px #fff,1px 0px 1px #E03569;
    border-radius: 0.15625rem; }

.login_main {
  padding-top: 0.125rem;
  text-align: center;
  margin-top: 1.34375rem; }
  .login_main input {
    width: 8.71875rem;
    height: 1.21875rem;
    background: #fff;
    border-radius: 0.3125rem;
    border-top: 1px solid #A5A5A5;
    border-left: 1px solid #A5A5A5;
    margin-top: 0.84375rem;
    text-indent: 0.375rem;
    font: 0.53125rem/1.21875rem "";
    color: #A59C97; }
    .login_main input#login {
      border: 0;
      box-shadow: 0 -1px 1px #FA7D9F,0 -2px 1px #FCB1C6,0 -3px 1px #BBBBBB,0 -4px 1px #E3E3E3;
      background: url(../imgs/login_back.jpg);
      text-align: center;
      font-weight: bold;
      color: #fff;
      margin-top: 0.71875rem; }
      .login_main input#login.disable {
        background: #eee;
        box-shadow: 0 -1px 1px #eee; }
  .login_main p.other {
    width: 8.71875rem;
    height: 0.5rem;
    margin-top: 0.625rem;
    display: inline-block;
    text-align: left;
    font: 0.34375rem/0.5rem "";
    color: #717171; }
    .login_main p.other label {
      height: 0.5rem; }
      .login_main p.other label span {
        display: inline-block;
        width: 0.46875rem;
        height: 0.46875rem;
        border: 0.01563rem solid #BCBCBC;
        background: #fff;
        color: #E7366C;
        font-size: 0.5625rem;
        overflow: hidden; }
      .login_main p.other label a {
        color: #9D9D9D; }
  .login_main p.tip {
    display: none;
    width: 8.71875rem;
    height: 0.78125rem;
    text-align: left;
    margin-top: 0.375rem;
    text-indent: 0.625rem;
    font: 0.46875rem/0.78125rem "";
    color: #f00; }

/*底部*/
.login_foot {
  height: 1.53125rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #484850 url(../imgs/back1.jpg) repeat-x;
  z-index: 5; }
  .login_foot nav {
    width: 100%;
    display: flex; }
    .login_foot nav div {
      width: 100%;
      color: #fff;
      box-sizing: border-box;
      padding-top: 5px; }
      .login_foot nav div.active {
        padding-top: 2px;
        border-top: 3px solid #E4366B; }
      .login_foot nav div a {
        color: #fff;
        text-decoration: none; }
        .login_foot nav div a span {
          display: block;
          width: 100%;
          text-align: center;
          height: 0.75rem;
          font: 0.59375rem/0.75rem ""; }
        .login_foot nav div a p {
          display: block;
          text-align: center;
          height: 0.53125rem;
          font: 0.375rem/0.53125rem ""; }

* {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  background: #F7F7F7; }

input {
  outline: none;
  border: 0; }

.register_head {
  height: 1.34375rem;
  background: #E4366B;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #636363;
  display: flex; }
  .register_head:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #282828;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0; }
  .register_head .back {
    width: 1.10938rem;
    height: 1.34375rem;
    display: block;
    position: absolute;
    background: url(../imgs/back.png) no-repeat 0.3125rem center;
    background-size: 0.8125rem 0.5rem; }
  .register_head .login {
    width: 100%;
    text-align: center;
    font: bold 0.59375rem/1.34375rem "";
    color: #fff;
    height: 1.34375rem; }
  .register_head .register {
    width: 1.71875rem;
    height: 0.84375rem;
    font: 0.375rem/0.84375rem "";
    color: #fff;
    text-align: center;
    background: #EC4175;
    position: absolute;
    right: 0.3125rem;
    top: 0.21875rem;
    display: block;
    box-shadow: 0 -1px 1px #fff,0 1px 1px #fff,1px 0px 1px #E03569;
    border-radius: 0.15625rem; }

.register_main {
  padding-top: 0.125rem;
  text-align: center;
  margin-top: 1.34375rem; }
  .register_main p.tip {
    display: none;
    width: 8.71875rem;
    height: 0.78125rem;
    text-align: left;
    margin-top: 0.375rem;
    text-indent: 0.625rem;
    font: 0.46875rem/0.78125rem "";
    color: #f00; }
  .register_main input {
    width: 8.71875rem;
    height: 1.21875rem;
    background: #fff;
    border-radius: 0.3125rem;
    border-top: 1px solid #A5A5A5;
    border-left: 1px solid #A5A5A5;
    margin-top: 0.84375rem;
    text-indent: 0.375rem;
    font: 0.53125rem/1.21875rem "";
    color: #A59C97; }
    .register_main input#register {
      border: 0;
      box-shadow: 0 -1px 1px #FA7D9F,0 -2px 1px #FCB1C6,0 -3px 1px #BBBBBB,0 -4px 1px #E3E3E3;
      background: url(../imgs/login_back.jpg);
      text-align: center;
      font-weight: bold;
      color: #fff;
      margin-top: 0.71875rem; }

/*底部*/
.register_foot {
  height: 1.53125rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #484850 url(../imgs/back1.jpg) repeat-x;
  z-index: 5; }
  .register_foot nav {
    width: 100%;
    display: flex; }
    .register_foot nav div {
      width: 100%;
      color: #fff;
      box-sizing: border-box;
      padding-top: 5px; }
      .register_foot nav div.active {
        padding-top: 2px;
        border-top: 3px solid #E4366B; }
      .register_foot nav div a {
        color: #fff;
        text-decoration: none; }
        .register_foot nav div a span {
          display: block;
          width: 100%;
          text-align: center;
          height: 0.75rem;
          font: 0.59375rem/0.75rem ""; }
        .register_foot nav div a p {
          display: block;
          text-align: center;
          height: 0.53125rem;
          font: 0.375rem/0.53125rem ""; }

.cart_head {
  height: 1.34375rem;
  background: #E4366B;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #636363;
  display: flex;
  z-index: 6; }
  .cart_head:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #282828;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0; }
  .cart_head .back {
    width: 1.125rem;
    text-align: right;
    height: 1.34375rem;
    display: block;
    position: absolute;
    background: url(../imgs/back.png) no-repeat 0.3125rem center;
    background-size: 0.8125rem 0.5rem; }
  .cart_head .login {
    width: 100%;
    text-align: center;
    font: bold 0.59375rem/1.34375rem "";
    color: #fff;
    height: 1.34375rem; }
  .cart_head .register {
    width: 1.71875rem;
    height: 0.84375rem;
    font: 0.375rem/0.84375rem "";
    color: #fff;
    text-align: center;
    background: #EC4175;
    position: absolute;
    right: 0.3125rem;
    top: 0.21875rem;
    display: block;
    box-shadow: 0 -1px 1px #fff,0 1px 1px #fff,1px 0px 1px #E03569;
    border-radius: 0.15625rem; }

.margin-top {
  height: 1.34375rem;
  width: 100%; }

.cart_main {
  margin-top: 1.34375rem; }
  .cart_main .cart_load {
    width: 3.125rem;
    height: auto;
    display: block;
    margin: 4.6875rem auto 0; }
  .cart_main .cart_empty {
    width: 100%;
    display: none; }
    .cart_main .cart_empty p {
      margin-top: 0.59375rem;
      text-align: center;
      font: 0.5625rem/1.25rem "";
      color: #3E3E3E; }
    .cart_main .cart_empty img {
      width: 4.09375rem;
      height: 4.09375rem;
      margin: 0 auto;
      display: block; }
    .cart_main .cart_empty span {
      display: block;
      width: 6.5625rem;
      height: 1.40625rem;
      border-top: 1px solid #BBBBBB;
      margin: 1.09375rem auto 0;
      text-align: center;
      font: bold 0.75rem/1.40625rem "";
      color: #fff;
      background-image: linear-gradient(to top, #D7114F, #F9628B); }
  .cart_main .cartGoods {
    width: 100%;
    display: none;
    position: relative; }
    .cart_main .cartGoods p.top {
      height: 1.375rem;
      background: #333;
      font: 0.46875rem/1.375rem "";
      color: #fff;
      text-indent: 0.21875rem; }
      .cart_main .cartGoods p.top .totalNum {
        margin-right: 0.3125rem; }
      .cart_main .cartGoods p.top .totalMoney {
        color: #E43669; }
    .cart_main .cartGoods #list {
      width: 100%;
      height: 13.28125rem; }
      .cart_main .cartGoods #list .lis {
        width: 100%;
        height: auto; }
        .cart_main .cartGoods #list .lis li {
          height: 3.57813rem;
          width: 100%;
          border-bottom: 1px solid #CBCBCB; }
          .cart_main .cartGoods #list .lis li img {
            width: 2.6875rem;
            height: 2.6875rem;
            border: 1px solid #BABABA;
            margin: 0.4375rem 0.40625rem 0 0.51563rem;
            float: left; }
          .cart_main .cartGoods #list .lis li .cartGoodRight {
            margin-top: 0.4375rem;
            float: left;
            width: 6.25rem; }
            .cart_main .cartGoods #list .lis li .cartGoodRight p {
              width: 100%;
              color: #333333;
              font: 0.46875rem/0.625rem ""; }
            .cart_main .cartGoods #list .lis li .cartGoodRight p.goodName span {
              float: right;
              width: 0.40625rem;
              height: 0.53125rem;
              background: url(../imgs/recyclebin.png) no-repeat;
              background-size: 0.40625rem 0.53125rem;
              margin: 0.10938rem 0.39063rem 0 0; }
            .cart_main .cartGoods #list .lis li .cartGoodRight p.goodPrice span {
              color: #E3366B; }
            .cart_main .cartGoods #list .lis li .cartGoodRight p.goodNum span.minu, .cart_main .cartGoods #list .lis li .cartGoodRight p.goodNum span.plus {
              width: 0.89063rem;
              height: 0.625rem;
              background: #878787;
              color: #fff;
              text-align: center;
              display: inline-block;
              border-radius: 5px; }
            .cart_main .cartGoods #list .lis li .cartGoodRight p.goodNum input {
              width: 1.15625rem;
              height: 0.625rem;
              font: 0.4375rem/0.625rem "";
              text-indent: 0.46875rem;
              margin: 0 0.15625rem; }

.show_head {
  height: 1.34375rem;
  background: #E4366B;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #636363;
  display: flex; }
  .show_head:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #282828;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0; }
  .show_head .back {
    width: 1.10938rem;
    height: 1.34375rem;
    display: block;
    position: absolute;
    background: url(../imgs/back.png) no-repeat 0.3125rem center;
    background-size: 0.8125rem 0.5rem; }
  .show_head .my {
    width: 100%;
    text-align: center;
    font: bold 0.59375rem/1.34375rem "";
    color: #fff;
    height: 1.34375rem; }

.show_main {
  width: 100%;
  height: auto;
  margin-top: 1.375rem; }
  .show_main .userInfo {
    padding-top: 0.96875rem;
    margin-bottom: 1.3125rem;
    height: 2.59375rem;
    width: 100%; }
    .show_main .userInfo img {
      width: 2.59375rem;
      height: 2.59375rem;
      border-radius: 0.3125rem;
      margin-left: 0.53125rem;
      float: left; }
    .show_main .userInfo .info_right {
      width: 5.15625rem;
      height: 100%;
      margin-left: 0.46875rem;
      float: left; }
      .show_main .userInfo .info_right p.niciname {
        height: 1.53125rem;
        width: 100%;
        font: bold 0.53125rem/1.53125rem "";
        color: #000; }
      .show_main .userInfo .info_right p.opeations {
        height: 1.0625rem;
        padding-top: 0.125rem;
        box-sizing: border-box; }
        .show_main .userInfo .info_right p.opeations span {
          display: block;
          float: left;
          height: 0.8125rem;
          width: 1.71875rem;
          font: bold 0.375rem/0.8125rem "";
          text-align: center;
          color: #fff;
          background-image: linear-gradient(to top, #DC1C58, #F8618C);
          box-shadow: 0 -1px 2px #BBBBBB;
          margin-right: 0.6875rem;
          border-radius: 0.15625rem; }
  .show_main .menuList {
    width: 8.67188rem;
    border: 0.03125rem solid #DEDEDE;
    margin: 0.3125rem auto 0;
    border-radius: 0.3125rem;
    overflow: hidden; }
    .show_main .menuList p {
      width: 8.67188rem;
      height: 1.375rem;
      font: bold 0.5625rem/1.375rem "";
      color: #000;
      text-indent: 0.4375rem;
      border-bottom: 0.03125rem solid #DEDEDE;
      background: #fff; }
      .show_main .menuList p:last-child {
        border: 0; }
      .show_main .menuList p img {
        width: 0.375rem;
        height: 0.4375rem;
        float: right;
        margin: 0.5rem 0.40625rem 0 0; }

html, body {
  width: 100%;
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  list-style: none; }

input {
  outline: none; }

a {
  text-decoration: none; }

#views {
  width: 100%;
  height: 100%; }

.foot {
  height: 1.53125rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #484850 url(../imgs/back1.jpg) repeat-x;
  z-index: 5; }
  .foot nav {
    width: 100%;
    display: flex; }
    .foot nav div {
      width: 100%;
      color: #fff;
      box-sizing: border-box;
      padding-top: 5px; }
      .foot nav div.active {
        padding-top: 2px;
        border-top: 3px solid #E4366B; }
      .foot nav div a {
        color: #fff; }
        .foot nav div a span {
          display: block;
          width: 100%;
          text-align: center;
          height: 0.75rem;
          font: 0.59375rem/0.75rem ""; }
        .foot nav div a p {
          display: block;
          text-align: center;
          height: 0.53125rem;
          font: 0.375rem/0.53125rem ""; }

/*# sourceMappingURL=common.css.map */
