<div class="alert alert-info" role="alert">颜色管理</div>
<div class="panel panel-default">
  <div class="panel-heading">
  	<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-lg" ng-click="addColor()">添加</button>
</div>
<table class="table">
	<thead>
		<td>颜色ID</td>
		<td>颜色名称</td>
		<td>操作</td>
	</thead>
	<tbody>
		<tr ng-repeat='o in colorlist'>
			<td>{{o.c_id}}</td>
			<td>{{o.c_name}}</td>
			<td>
	  		<button type="button" class="btn btn-primary" ng-click='editColor(o.c_id)'>修改</button>
	  	  <button type="button" class="btn btn-danger" ng-click='delColor(o.c_id)'>删除</button>
	  	</td>
		</tr>
	</tbody>
</table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dialog_title">添加颜色</h4>
     	</div>
    	<div class="modal-body" id="colorForm">
    		<form class="form-horizontal" role="form" name='colorForm'>
    			
	        <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label">颜色名称:</label>
				    <div class="col-sm-10">
				      <input type="text" id='colorName' class="form-control" name='colorName' ng-model='color.name' ng-required='true' ng-maxlength='5' placeholder="color name">
					    <div g-if='(colorForm.colorForm.$invalid&&colorForm.colorName.$dirty) || state '>
					    	<span class="help-block" ng-if='colorForm.colorName.$error.required'>商品颜色不能为空</span>
					      <span class="help-block" ng-if='colorForm.colorName.$error.maxlength'>长度不能超过5</span>
					    </div>
				    </div>
				  </div>
			  </form>
      </div>
    	<div class="modal-footer">
    		<button type="button" class="btn btn-primary ok">保存</button>
        <button type="button" class="btn btn-default cancel">取消</button>
      </div>
    </div>
  </div>
</div>